.hero-text{
    margin-top: 20px;
}

.container-contact {
    max-width: 900px;
    margin: auto;
  }
  
 .container-timetable{
    color: #BE5985;
    margin-top: 20px;
    text-align: left;
  }
  
  .day {
    margin-bottom: 30px;
  }
  
  .class-card {
    background-color: #FFEDFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 16px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  .class-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .class-card img :hover{
    transition: 0.3s;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.05);
  }

  .image{
    width: 700px; 
    margin-top: 30px; 
    border-radius: 4px;
  }

  .class-info {
    flex-grow: 1;
  }
  
  .class-info h4 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #BE5985;
  }
  
  .class-info p {
    margin: 3px 0;
    color: black;
    font-size: 20px;
  }
  
  .class-info .specific {
    font-style: italic;
 }
  
  .join-btn {
    background: none;
    border: 2px solid #BE5985;
    color: #BE5985;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .join-btn:hover {
    background-color: #BE5985;
    color: white;
  }